<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

## Exercise 2: Create markdown cell with title of the notebook:

# Data Science Tools and Ecosystem

## Exercise 3 - Create a markdown cell for an introduction:

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
<ul>
  <li>List popular languages for Data Science</li>
  <li>List Data Science libraries</li>
  <li>List Data Science tools</li>
</ul>

## Exercise 4 - Create a markdown cell to list data science languages:

<ol>
  <li>Python</li>
  <li>R Language</li>
  <li>SQL</li>
</ol>

## Exercise 5 - Create a markdown cell to list data science libraries:

Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>Pandas</li>
  <li>Apache Spark</li>
  <li>Scikit-learn</li>
  <li>TensorFlow</li>
  <li>Seaborn</li>
</ol>

## Exercise 6 - Create a markdown cell with a table of Data Science tools:

<table>
   <tr>
    <th>Data Science Tools</th>
   <tr>
   <tr><td>Rstudio</td></tr>
   <tr><td>Jupyter</td></tr>
   <tr><td>Apache Spark</td></tr>
</table>

## Exercise 7 - Create a markdown cell introducing arithmetic expression examples and
## Exercise 8 - Create a code cell to multiply and add numbers:

### Below are a few examples of evaluating arithmetic expressions in Python:

In [15]:
## This a simple arithmetic expression to mutiply then add integers
1+1*2

3

In [16]:
## This a simple arithmetic expression to mutiply then add integers
(1+1)*2

4

## Exercise 9 - Create a code cell to convert minutes to hours:

In [17]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Exercise 10 - Insert a markdown cell to list Objectives:

In [ ]:
## See Exercise 3

## Exercise 11 - Create a markdown cell to indicate the Author's name:

## Author
Pavel Petrikevich